{% extends 'base.html' %}


{% block main_content %}
 <div class="main">
  	<div class="wrap">
      <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Books</h3>
    		</div>
    	</div>
	      <div class="section group">
              {% for book in books %}
				<div class="grid_1_of_5 images_1_of_5">
					 <a href="preview.html"><img src="{{ book.image.thumbnail.url }}" alt="" /></a>
					 <h2><a href="preview.html">{{ book.title }}</a></h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">${{ book.price }}</span></p>
					    </div>
					       		<div class="add-cart">
									<h4><a href="preview.html">Add to Cart</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
				</div>
              {% endfor %}

			</div>

       </div>
  </div>
</div>
{% endblock %}