{% extends 'base.html' %}
{% load i18n %}


{% block main_content %}
<div class="row">
    <form class="col offset-s3 s6 ">
        <div class="row">
            <fieldset>
                <legend>{% trans 'Search' %}</legend>
                <div class="input-field right-align">
                    <input type="text" id="search" name="q"
                           value="{{ request.GET.q }}"/>
                    <label for="search">{% trans 'Book or Author name' %}</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn">{% trans 'Search' %}</button>
            </fieldset>

        </div>


    </form>
</div>

<div class="row">

    <div class="collection">
        <div class="collection with-header col s3 {% if LANGUAGE_BIDI %}right{% endif %}">
            <span class="collection-header"><h4 class="teal-text text-darken-2">{% trans 'Categories' %}</h4></span>
            <a href="{% url 'home' %}" class="collection-item">{% trans 'All' %}</a>
            {% for cat in cats %}
                <a href="{% url 'cat' cat.id %}" class="collection-item">{{ cat.name }}</a>
            {% endfor %}
        </div>

        <div class="col s12 m9">
            {% for book in books %}
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ book.image.thumbnail.url }}">

                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ book.title }}</span>
                            <p>{{ book.excerpt }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'book-detail' book.pk %}"
                               class="teal-text text-darken-2">{% trans 'more' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


</div>
{% endblock %}